.contact-info-box {
    border: 2px solid black;
    background: lightgrey;
    max-width: 20%;
    padding-top: 15px;
    margin-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    float: right;
}